img{
  display: block;
  width: 40%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.ProfileConteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  color: white;
  z-index: 1;
  top: 0;
  left: 0;
}
 .hideForm{
   display: none;
 }