*{
  padding: 0;
  margin: 0;
}

#profile-board{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: lightblue;
  border-radius: 10px;
}